.hobbies{
    padding: 3rem;
    text-align: center;
}
.hobbies_titulo{
    text-align: center;
    font-family: pacifico, cursive;
    font-size: 2rem;
    color: black;
    padding: 0 0 13px 0;
}
.hobbies_tipos{
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
    flex-direction: row;
    border-radius: 40px;
    flex-wrap: wrap;
    font-size: 20px;
    font-family: Montserrat, sans-serif;
    font-style: italic;
}

.tipohobbies{
    display: flex;
    flex-direction: column;
}
.hobbies_imagen{
    width: 150px;
    flex-direction: column;
    padding: 2rem;
}