body{
	background-color: #F2F5F7;
	
}
.redesitem{
	height: 100px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
}
main{
	margin-top: 20px;
	padding: 20px;
}
footer{
	background-color: #ccc;
	padding: 10px;
}